---
layout: base
---

{% include title-band.html %}

<div class="component-wrapper two-column-content-band">
  <div class="width-12-12">
    <div class="grid-wrapper">
      <div class="width-6-12 width-12-12-m">
        <img class="light-only" src="{{site.baseurl}}/assets/images/spring/leaftoquarkus.png">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/spring/leaftoquarkus-dark.png">
      </div>
      <div class="width-6-12 width-12-12-m">
        <h2>Why move my Spring app to Quarkus?</h2>
        <p class="img-content">This is a piece of content that would help convince a Spring user to consider Quarkus. Seems like could mention about how spring is a traditional framework while Quarkus is cloud-native. We should also make a comment that while Quarkus is cloud-native, it's awesomeness makes it really great for traditional monoliths too. This would lead into the next section of content as we've peaked the reader's attention.</p>
      </div>
    </div>
  </div>
</div>
<div class="component-wrapper">
  <div class="width-12-12 width-12-12-m">
    <h2>How do Spring concepts map to the Quarkus model?</h2>
    <p>There is always a learning curve when you try doing something in a different way. The fastest way to learn a new framework is understand where basic concepts match up. Let's take a look at some Spring concepts and how the relate to the Quarkus model.</p>
  </div>
  <div class="width-4-12 width-12-12-m">
    <h3>Spring MVC = JAX-RS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Praesent convallis purus nec mi pellentesque scelerisque. </p>
  </div>
  <div class="width-4-12 width-12-12-m">
    <h3>Spring Data = JPA with Panache</h3>
    <p>Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
  </div>
  <div class="width-4-12 width-12-12-m">
    <h3>Foo = Fam</h3>
    <p>Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<div class="component-wrapper video-content-band">
    <div class="width-12-12 width-12-12-m">
    <h2>Spring to Quarkus Videos</h2>
  </div>
  <div class="width-6-12 width-12-12-m video-container">
    <iframe src="https://www.youtube.com/watch?v=AxNiHJAbJSc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="width-6-12 width-12-12-m">
    <h3>Eric Deandrea discusses Quarkus for Spring Developers</h3>
    <p>In this video, Eric shows concepts and conventions familiar to Spring developers and how those same concepts and conventions can be implemented in Quarkus, all while highlighting similarities and differences between them. Additionally, he shows similarities and differences in how testing is done, highlighting Quarkus Dev Services and continuous testing.</p>
  </div>
</div>


